name: Deploy Node.js Backend to aaPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH Client
        run: sudo apt-get install -y sshpass

      - name: Deploy to aaPanel server
        run: |
          sshpass -p "e4a3d208" ssh -o StrictHostKeyChecking=no c80qiesq@89.233.105.5"
            cd /www/wwwroot/ZOOMIT/zoomit-beckend || exit 1
            git pull origin main
            npm install
            pm2 restart zoomit_server || pm2 start npm --name zoomit_server -- start
          "
