name: Deploy Node.js Backend to aaPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH Client
        run: sudo apt-get install -y sshpass

      - name: Deploy to aaPanel server
        env:
          HOST: 89.233.105.5
          USERNAME: devuser
          PASSWORD: devuser123
          APP_DIR: /www/wwwroot/ZOOMIT/zoomit-beckend
        run: |
          sshpass -p "$PASSWORD" ssh -o StrictHostKeyChecking=no $USERNAME@$HOST << EOF
            cd $APP_DIR || exit 1
            git pull origin main
            npm install
            pm2 delete zoomit_server || true
            pm2 start npm --name zoomit_server -- start
          EOF
